/* -----------------------

   [table of contents]

1.  header
2.  menu 3 bars
3.  menu button (+ animations)

-------------------------- */


/* ----------------
    header
---------------- */
/* nav and nav text hight in px, as it is a constant hight  */
.header,
.header .logo,
.header img,
.header li a,
.header li a:hover,
.header .menu-btn:hover {
    height: 68px;
}

/* header */
.header {
    position: relative;
    width: 100%;
    background-color: var(--dark-grey);
    width: 100%;
    z-index: 3;
}

.header ul {
    list-style: none;
    overflow: hidden;
    background-color: var(--dark-grey);
    /* background-color: var(--black); */
    /* width: 100%; */
}

.header li a {
    display: block;
    /* height: 100%; */
    padding: 22px 10px;
    color: var(--orange);
    text-decoration: none;
    text-align: center;
}

.header li a:hover,
.header .menu-btn:hover {
    background-color: var(--black-hover);
}

#active {
    color: var(--white);
    text-decoration: none;
    cursor: default;
    text-decoration: underline;
}

#active:hover {
    background-color: unset;
}

.header .logo {
    display: block;
    float: left;
    padding: 20px 0 20px 6rem;
    text-decoration: none;
}

.header img {
    float: left;
    position: absolute;
    top: 0;
    left: .8em;
    padding: 8px;
}

.header p {
    color: var(--white);
    height: 100%;
    font-size: 1.2rem;
    padding-top: 2px;
}

/* menu */
/* the menu is taken from a tutorial I followed along with, I edited it to fit my grid and the style of the website
Pure CSS hamburger menu learnt from 'FollowAndrew' on YouTube https://www.youtube.com/watch?v=sjrp1FEHnyA&t=1707s */
.header .menu {
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
}

/* ----------------
    menu 3 bars
---------------- */
.header .menu-icon {
    cursor: pointer;
    float: right;
    padding: 32px 36px;
    position: relative;
    user-select: none;
}

.header .menu-icon .nav-icon {
    background: #e7e7e7;
    display: block;
    height: 2px;
    position: relative;
    transition: background .2s ease-out;
    width: 22px;
}

.header .menu-icon .nav-icon:before,
.header .menu-icon .nav-icon:after {
    background: #e7e7e7;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}

.header .menu-icon .nav-icon:before {
    top: 5px;
}

.header .menu-icon .nav-icon:after {
    top: -5px;
}

/* ----------------
    menu button
---------------- */
.header .menu-btn {
    display: none;
}

.header .menu-btn:checked~.menu {
    max-height: 240px;
    /* max-height: 100vh; */
}

.header .menu-btn:checked~.menu-icon .nav-icon {
    background: transparent;
}

.header .menu-btn:checked~.menu-icon .nav-icon:before {
    transform: rotate(-45deg);
    top: 0;
}

.header .menu-btn:checked~.menu-icon .nav-icon:after {
    transform: rotate(45deg);
    top: 0;
}

@media only screen and (min-width: 768px) {

    .header li {
        float: left;
    }

    .header li a {
        padding: 25px 30px;
    }

    .header .menu {
        clear: none;
        float: right;
        max-height: none;
    }

    .header .menu-icon {
        display: none;
    }
}