/* -----------------------

   [table of contents]

1.  navigation bar
2.  hero
3.  The blurb_container
4.  card icon  
5.  cards
6.  article
7.  section

    7.1 service_section
    7.2 icon_container
    7.3 flex_container
8. video

    8.1 iframe

9.  form
10.  footer

-------------------------- */




/* body {
    margin: 0;
    font-family: Helvetica, sans-serif;
    background-color: #bbb;
}

a {
    color: rgb(233, 233, 233);
} */





:root {
    --black: #242b2e;
    --black-hover: #4a5357;
    --white: #e7e7e7;
    --light-yellow: #e9ac51;
}

.header,
.header .logo,
.header img,
.header li a,
.header li a:hover,
.header .menu-btn:hover {
    height: 68px;



}

/* header */
.header {
    position: relative;
    /* position: absolute; */

    width: 100%;
    background-color: var(--black);
    /* box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1); */
    width: 100%;
    z-index: 3;
}

.header ul {
    list-style: none;
    overflow: hidden;
    background-color: var(--black);
    /* background-color: var(--black); */
    /* width: 100%; */
}

.header li a {
    display: block;
    /* height: 100%; */
    padding: 22px 10px;
    color: var(--orange);
    /* background-color: #ecb234; */

    /* border-right: 1px solid #f4f4f4; */
    text-decoration: none;
    text-align: center;
}

.header li a:hover,
.header .menu-btn:hover {
    background-color: var(--black-hover);
    /* color: #e7e7e7; */
}

.header .logo {
    display: block;
    float: left;
    font-size: 1.4em;
    padding: 20px 6rem;
    text-decoration: none;
    /* background-color: rgb(81, 153, 153); */
}

.header img {
    float: left;

    position: absolute;
    top: 0;
    left: .8em;
    /* background-color: #ec8d34; */
    padding: 8px;
}

.header p {
    color: var(--white);
    /* background-color: violet; */
    height: 100%;
    padding-top: 2px;
}

/* menu */

.header .menu {
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
}

/* menu icon */

.header .menu-icon {
    cursor: pointer;
    float: right;
    padding: 32px 36px;
    position: relative;
    user-select: none;
}

.header .menu-icon .nav-icon {
    background: #e7e7e7;
    display: block;
    height: 2px;
    position: relative;
    transition: background .2s ease-out;
    width: 22px;
}

.header .menu-icon .nav-icon:before,
.header .menu-icon .nav-icon:after {
    background: #e7e7e7;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}

.header .menu-icon .nav-icon:before {
    top: 5px;
}

.header .menu-icon .nav-icon:after {
    top: -5px;
}

/* menu btn */

.header .menu-btn {
    display: none;
}

.header .menu-btn:checked~.menu {
    max-height: 240px;
    /* max-height: 100vh; */
}

.header .menu-btn:checked~.menu-icon .nav-icon {
    background: transparent;
}

.header .menu-btn:checked~.menu-icon .nav-icon:before {
    transform: rotate(-45deg);
    top: 0;
}

.header .menu-btn:checked~.menu-icon .nav-icon:after {
    transform: rotate(45deg);
    top: 0;
}


/* 48em = 768px @ 16pt font */

@media only screen and (min-width: 48em) {

    .header {
        /* clear: both; */
        /* position: absolute; */
    }

    .header li {
        float: left;
        /* height: 100%; */
    }

    .header li a {
        padding: 25px 30px;
        /* margin-top: 1px; */
        /* height: 100%; */
    }

    .header .menu {
        clear: none;
        float: right;
        max-height: none;
        /* width: 100%; */
    }

    .header .menu-icon {
        display: none;
    }
}