/* -----------------------

   [table of contents]

1.  hero
2.  The blurb_container
3.  cards


4.  article


5.  section

    5.1 service_section
    5.2 icon_container
    5.3 flex_container
    5.4 media_heading
    5.5 thank_you_container

6.  iframe
7.  form
8.  footer

    8.1 social_links 

-------------------------- */



/* ----------------
    hero
---------------- */
.hero {
    grid-row: 2;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.5)), url(../images/hero_sm.jpg);
    background-position: center;
    background-size: cover;
    /* height: 100vh - 68px; */
    position: relative;
}

.hero_content {
    /* grid-row: 2; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 68px);
}

.hero_text {
    padding-bottom: 1em;
    text-align: center;
}


.watermark {
    position: absolute;
    height: 68px;
    width: 68px;
    right: 1em;
    bottom: 1em;
}


/* ----------------
    The blurb_container
---------------- */
.blurb_container {
    text-align: center;
    padding: max(6vh, 1em) 1em;
    background-color: var(--pale-orange);
}


/* ----------------
    cards
---------------- */
.icon_card {
    margin: 2em 1em;
    text-align: center;
    text-align: center;
}

.icon_card_text {
    margin: auto;
    width: min(70%, 500px);
}



/* < !-- #FIXME: not being used --> */
/* < !-- #FIXME: not being used --> */

/* ----------------
    article - article_media
---------------- */
.article_media {
    padding: 0;
    margin: 0;
    width: 100%;

}

.article_text ul {
    padding-left: 2em;
}

/* ----------------
    section
---------------- */
.service_section {
    text-align: center;
    padding: 4em 2em;
    background-color: var(--grey);
}

.icon_container {
    padding-top: 4em;
}

.media_heading {
    max-width: 120ch;
    margin: auto;
    text-align: center;
    padding: max(6vh, 1em) 1em;

}

.flex_container {
    padding: 0 1em;
    gap: 2em;
}


.text_container {
    padding: 1em 0 4em 0;
}

.stars_container {
    /* background-color: #928e86; */
    display: flex;
    flex-wrap: wrap;

}

.text_container h3 {
    display: inline-block;
    /* background-color: aquamarine; */
}

.stars_container ul {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 1em;
    /* padding-left: 20px; */

}

.stars li {
    list-style: none;
}

.stars span {
    /* color: #ffa600; */
    color: var(--btn-warning);
    font-size: 1.4rem;
    padding-left: 4px;
}


/* ----------------
    thank_you_container
---------------- */
#thank_you_container {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--grey);
}

.thank_you {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 5em;
    /* background-color: violet; */
    padding: .4em 0;
}

.thankyou-watermark {
    height: 110px;
    width: 110px;
    margin-bottom: .4em;
    /* filter: contrast(0); */
}

.thank_you h2 {
    text-decoration: underline;
}

/* ----------------
    iframe - video
---------------- */
iframe {
    aspect-ratio: 16/9;
}


/* ----------------
    form
---------------- */
.form_area {
    padding-top: 2em;
}

.form_image {
    width: 100%;
    display: none;
    height: 100%;
}

.form {
    padding: 2em;
    background: var(--grey);
}

.form_heading {
    text-align: center;
    padding: 2em 0 .4em 0;
}

form label {
    font-weight: bold;
    font-size: 1.1rem;

}

.form_input {
    width: 100%;
    font-size: 1rem;
    padding: 10px;
    margin: .6em 0;
}

.form span {
    color: rgb(240, 41, 6);
}


.form_subject {
    resize: vertical;
    min-height: 160px;
    max-height: 460px;
}

form .submit_button {
    background-color: var(--btn-warning);
    margin-left: 0;
    width: 100%;
    margin-bottom: 0;
}

.submit_button:hover {
    background-color: var(--btn-warning-hover);
    cursor: pointer;
}

/* ----------------
    footer
---------------- */
footer {
    background-color: var(--dark-grey);
    color: var(--pale-orange);
    height: 340px;
    padding: 0 2em;
}

.footer_grid {
    display: grid;
    grid-template-columns: 2fr 4fr 1fr;
    grid-template-rows: 2fr 1fr;
    height: 100%;
}

.info {
    padding: 2em 0;
    font-size: 1.2rem;
}

.info p {
    padding-bottom: 1em;
}

.info a {
    color: var(--pale-orange);
    font-size: 1rem;
}

.auther {
    grid-column: 1/4;
    font-size: 16px;
    padding: 1em 0;
}

/* ----------------
    social_links
---------------- */
.social_links {
    grid-column: 1/4;
    grid-row: 2;
    padding: 1em;
}

.social_links ul {
    display: flex;
    list-style: none;
    justify-content: space-around;
}

.social_links a {
    color: var(--pale-orange);
    font-size: 1.4em;
    padding: .6em;
    transition: 80ms;
}

.social_links a:hover,
.info a:hover {
    color: var(--grey);
}

.media_title {
    text-align: center;
}


/* desktop side of things */
@media only screen and (min-width: 768px) {

    .hero {
        background-position: 50% 30%;
        background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.3)), url(../images/hero_md.jpg);
        height: auto;
    }

    .hero_content {
        align-items: flex-start;
        height: 55vh;
    }

    .hero_text {
        text-align: start;
        padding: 4em 2em 0 2em;
    }

    .watermark {
        /* position: absolute; */
        height: 110px;
        width: 110px;
        right: 2em;
        bottom: 2em;
    }


    .blurb_text {
        max-width: 100ch;
        margin: auto;
    }


    .icon_container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 80%;
        margin: auto;
    }

    .social_links {
        grid-column: 3;
        grid-row: 2;
        max-width: 500px;
    }

    .social_links a {
        margin: 1em;
    }

    .social_links {
        grid-column: 3;
        grid-row: 2;
        padding: 1em;
    }


    .media_title {
        padding-left: 1em;
        text-align: left;
    }

    /* ----------------
        article - article_media
    ---------------- */
    .article_container {
        display: flex;
        gap: 2em;
        flex-direction: row-reverse;
        padding: 0;

    }

    .article_text {
        flex: 1;
        padding: 2em;
        border-radius: 4px;
    }

    .article_media {
        flex: 1;
        padding: 0;
        object-fit: cover;
        height: 500px;

    }


    .flex_container {
        display: flex;
        padding: 1em;
    }

    .form_area {
        display: flex;
        width: 60%;
        margin: auto;
        margin-top: 4em;
        padding-top: 0;

        margin-bottom: 14em;

    }

    .form_heading {
        text-align: left;
        padding: 2rem 2rem .6rem 2rem;
    }

    .form_heading h2 {
        /* padding-bottom: .2em; */
    }

    .form {
        border-radius: 4px;
    }

    form .submit_button {
        margin-left: 0;
        width: auto;
    }
}


@media only screen and (min-width: 980px) {




    .form_image {
        display: block;
        width: 100%;
        object-fit: cover;
        filter: opacity(.8);
        border-radius: 4px;
    }

    .form_container {
        margin-left: 2em;
    }

    .form_area {
        width: 90%;
    }

    .form_heading {
        padding-top: 1rem;
    }

    /* ----------------
        article - article_media
    ---------------- */
    .article_media {
        flex: 1;
        object-fit: cover;
        height: 700px;
        border-radius: 4px;

    }
}

@media only screen and (min-width: 1440px) {

    .hero {
        grid-row: 2;
        background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.3)), url(../images/hero_xl.jpg);
        background-position: 50% 30%;
    }

    .hero_content {
        height: 60vh;
        padding: 2em;
    }

    .icon_container {
        grid-template-columns: repeat(4, 1fr);
    }

    .icon_card {
        margin: 1em 1em;
        text-align: center;
        text-align: center;
    }

    .icon {
        font-size: 4.2rem;

        padding: .4em;
    }

    .form_area {
        width: 70%;
    }


    .form_container {
        margin-left: 4em;
    }

    .form_container h3 {
        padding: 1em 2rem;
    }


    .flex_container {
        gap: 3em;
        width: 80%;
        margin: auto;
    }

    /* ----------------
        article - article_media
    ---------------- */
    .article_container {
        width: 70%;
        margin: auto;

    }

    .article_media {
        height: 900px;

    }
}