/* -----------------------

   [table of contents]

1.  hero
2.  The blurb-container
3.  cards
4.  section

    4.1 service-section
    4.2 icon-container
    4.3 quote section
    4.4 media-heading
    4.5 flex_container
    4.6 stars-container
    4.7 footer-bottom-container

5.  iframe
6.  form
7.  footer
    
    7.1 social-links 

-------------------------- */




/* ----------------
    1. hero
---------------- */
.hero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.5)), url(../images/hero_sm.webp);
    background-color: #d89266;
    background-position: center;
    background-size: cover;
    position: relative;
}

.hero-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 400px;
    height: calc(100vh - 68px);
}

.hero-text {
    padding-bottom: 1em;
    text-align: center;
}

.watermark {
    position: absolute;
    height: 68px;
    width: 68px;
    right: 1em;
    bottom: 1em;
}

/* ----------------
    2. The blurb-container
---------------- */
.blurb-container {
    text-align: center;
    padding: max(6vh, 1em) 1em;
    background-color: var(--pale-orange);
}

/* ----------------
    3. cards
---------------- */
.icon-card {
    margin: 2em 1em;
    text-align: center;
    text-align: center;
}

.icon-card-text {
    margin: auto;
    width: min(70%, 500px);
}

/* ----------------
    4. section
    4.1 service-section
---------------- */
.service-section {
    text-align: center;
    padding: 4em 2em;
    background-color: var(--grey);
}

/* ----------------
    4.2 icon-container
---------------- */
.icon-container {
    padding-top: 4em;
}

/* ----------------
    4.3 quote section
---------------- */
.quote-box {
    position: relative;
    margin: auto;
    padding: 2rem;
    margin-top: 6em;
    margin-bottom: 6em;
    width: 80%;
}

.quote-picture-container {
    width: 100%;
    margin: 0;
}

.lunge-img {
    width: 100%;
    height: auto;
    padding: 0;
    margin: 0;
}

.quote-alt-left {
    position: absolute;
    left: .2em;
    top: .2em;
}

.quote-alt-right {
    position: absolute;
    right: .2em;
    bottom: .2em;
}

.quote-alt-left,
.quote-alt-right {
    font-size: 1.4em;
    user-select: none;
}

/* main of the video page, class to add padding to the bottom of the desktop site
so here I set it to 0 first */
.video-main {
    padding-bottom: 0;
}

/* ----------------
    4.4 media-heading
---------------- */
/* media-heading section for the video's page */
.media-heading {
    margin: auto;
    text-align: center;
    padding: max(6vh, 1em) 1em;
}

/* ----------------
    4.5 flex_container
---------------- */
/* flex container for the videos on the 'Learn Yoga' page */
.flex-container {
    gap: 2em;
}

.flex-container-padding {
    padding: 0 1em;
}

.media-container {
    flex: 1;
}

/* ----------------
    4.6 stars-container
---------------- */
.stars-container {
    display: flex;
    flex-wrap: wrap;
}

.text-and-star-container {
    padding: 1em 0 4em 0;
}

.text-and-star-container h3 {
    display: inline-block;
    margin-right: 20px;
}

.stars-container ul {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 1em;
    padding-top: 4px;
}


.stars li {
    list-style: none;
}

.star-svg {
    margin-right: 4px;
}

.stars-example {
    display: flex;
    justify-content: center;
    padding: 1em 0 .4em 0;
    margin: auto;
}

.stars-example span {
    font-size: 1.6em;
}

/* ----------------
    4.7 footer-bottom-container
---------------- */
/* pushes the footer to the bottom of the page for pages that have little content */
.footer-bottom-container {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: space-between;
}

.thank-you {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 5em;
    padding: .4em 0;
}

.thankyou-watermark {
    height: 110px;
    width: 110px;
    margin-bottom: .4em;
}

.thank-you h2 {
    text-decoration: underline;
}

/* ----------------
    5. iframe (video)
---------------- */
iframe {
    aspect-ratio: 16/9;
    width: 100%;
    border: 0;
}


/* ----------------
    6. form
---------------- */
.form-area {
    display: block;
}

.form-image {
    width: 100%;
    display: none;
    height: 100%;
}


.form {
    padding: 2em;
    padding-bottom: 2em;
    background: var(--grey);
}

.form-heading {
    text-align: center;
    padding: max(3vh, 1em) 1em;
}

form label {
    font-weight: 400;
    font-size: 1.2rem;
}

.form-input {
    width: 100%;
    padding: 12px;
    margin: .6em 0;
    border-radius: 4px;
    border: 1px solid var(--black);
}

/* the asterisks * beside the required input  */
.form span {
    color: rgb(240, 41, 6);
    padding-left: 4px;
}

.form p {
    margin-bottom: 1em;
}

.form-subject {
    resize: vertical;
    min-height: 160px;
    max-height: 460px;
}

fieldset {
    padding: 1em 2em;
    margin: 1em 0;
    border-radius: 2px;
}

/* ----------------
    7. footer
---------------- */
.footer-flexbox {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--dark-grey);
}

/* ----------------
    7.1 social-links 
---------------- */
.social-links {
    padding: 3em 0 4em 0;
    width: 80vw;
    max-width: 700px;
}

.social-links ul {
    display: flex;
    list-style: none;
    justify-content: space-around;
}

.social-links a {
    color: var(--white);
    font-size: 1.4em;
    transition: 80ms;
}

.social-links a:hover,
.info a:hover {
    color: var(--grey);
}

.auther {
    display: inline;
    font-size: 16px;
    color: var(--white);
    padding: 0 10px;
    margin-bottom: 1em;
}

.media-title {
    text-align: center;
}


/* desktop side of things */
/* this media query is just so the social links don't go to far apart */
@media only screen and (min-width: 768px) {
    .social-links ul {
        justify-content: space-around;
    }
}

@media only screen and (min-width: 768px) {

    .video-main {
        padding-bottom: 4em;
    }

    .hero {
        background-position: 50% 30%;
        background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.3)), url(../images/hero_md.jpg);
        height: auto;
    }

    .hero-content {
        align-items: flex-start;
        height: 35vh;
    }

    .hero-text {
        text-align: start;
        padding: 4em 2em 0 2em;
    }

    .watermark {
        height: 110px;
        width: 110px;
        right: 2em;
        bottom: 2em;
    }

    .blurb_text {
        max-width: 70ch;
        margin: auto;
    }

    .icon-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 80%;
        margin: auto;
    }

    /* ----------------
        quote section
    ---------------- */
    .quote-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        margin: 4em 0;
    }

    .quote-picture-container {
        width: 50%;
    }

    .lunge-img {
        /* width: 50vw; */
        width: 100%;
        padding: 1em;
    }

    .quote-box {
        width: 30%;
        margin-right: 4em;
    }

    .media-title {
        padding-left: 1em;
        text-align: left;
    }

    .flex-container {
        display: flex;
        /* padding: 1em; */
    }

    .flex-container-padding {
        padding: 1em;
    }

    .text-and-star-container {
        padding: 1em 0 2em 0;
    }

    .video-title {
        width: 100%;
    }

    .form-area {
        width: 80%;
        margin: auto;
        padding-bottom: 2em;
    }
}


@media only screen and (min-width: 860px) {

    .video-title {
        width: 100%;
    }
}

@media only screen and (min-width: 980px) {

    .quote-picture-container {
        padding: 2vw;
    }

    .form-area {
        display: flex;
        justify-content: space-between;
        gap: 2em;
        width: 90%;
        margin: auto;
        height: auto;
    }

    .form-img-container {
        width: 50%;
    }

    .form-container {
        width: 100%;
        max-width: 700px;
    }

    .form {
        height: auto;
    }

    /* positioning the rocks so it scales nicely on larger screens */
    .form-image {
        display: block;
        max-width: 800px;
    }

    .form-image img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        opacity: .85;
        object-position: 50% 70%;
    }
}

@media only screen and (min-width: 1440px) {

    .hero {
        background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.3)), url(../images/hero_xl.jpg);
        background-position: 50% 30%;
    }

    .hero-content {
        height: 60vh;
        padding: 2em;
    }

    .icon-container {
        grid-template-columns: repeat(4, 1fr);
    }

    .icon-card {
        margin: 1em 1em;
        text-align: center;
        text-align: center;
    }

    .icon {
        font-size: 4.2rem;
        padding: .4em;
    }

    .flex-container {
        gap: 3em;
        width: 80%;
        margin: auto;
    }
}

@media only screen and (min-width: 1716px) {

    .video-title {
        width: auto;
    }
}