/* @import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;1,300&family=Rubik:wght@300;400;500&display=swap'); */

@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,600;1,400&family=Work+Sans:wght@300;400&display=swap');


/* css reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* -----------------------

   [table of contents]

1.  color styling
2.  global style
3.  maine grid style
4   typography
5.  buttons

-------------------------- */


/* ----------------
    color styling
---------------- */
:root {
    /* page colors */
    --h1-color: #f1f1f1;
    --h2-color: #1a1a1a;
    --h3-p-color: #2d313b;

    --white: #f5f5f5;
    --primary-color: #ffa500;
    --secondary-color: #4a5061;
    --nav-link-warning: #ffa500;
    --nav-link-active: #c5c6ce;

    --blurb-color: #ddc2eb;
    --card-icon-col: #4a5061;
    --text-background-color: #cce6e6;
    --form-color: #f0f0f0;

    /* button colors */
    --btn-cta: #f55516;
    --btn-cta-hover: #bb371d;
    --btn-warning: #0094da;
    --btn-warning-hover: #0a6c99;

    /* footer and footer elements */
    --footer-bg: #363942;
    --footer-light-col: #cca254;


}

/* the "orange" class for when adding color directly to the HTML file */
.orange {
    color: var(--primary-color);
}

/* .color_1 {
    background-color: #eec984;
}

.color_2 {
    background-color: #fa9784;
} */


/* ----------------
    global style
---------------- */
html,
body {
    font-family: 'Work Sans', sans-serif;
    line-height: 1.4;
    color: #1b1b1b;
}

/* ----------------
    maine grid style
---------------- */

/* maine grid style with collapsing borders left and right for large displays */
body {
    display: grid;
    grid-template-columns: 1fr minmax(30ch, 240ch) 1fr;
}

/* location of the top level elements in the grid */
nav,
.hero,
.blurb_container,
section,
article,
.flex_container,
footer,
.form_area {
    grid-column: 2/3;
}

/* ----------------
    typography
---------------- */
h1,
h2 {
    font-family: 'Cabin', sans-serif;
    text-transform: capitalize;
}

h1 {
    font-size: 4rem;
    font-weight: 500;
    color: var(--h1-color);
    margin-bottom: .4rem;
    /* background-color: aquamarine; */
}

.subheading {
    color: var(--white);
    font-weight: bolder;
    font-size: 1.6rem;
}

h2 {
    font-size: 2rem;
    padding-bottom: 1rem;
    color: var(--h2-color);
}

h3 {
    font-size: 1.4rem;
    padding-bottom: 1rem;
    color: var(--h3-p-color);
}

h4 {
    padding-bottom: .4em;
}

p {
    font-size: 1.2;
}


.media_header {
    padding: 1em;
}

.flex_container {
    padding: 1em;
    /* background-color: #1c7ba7; */
}

.text_container {
    padding: 1em 0;
    /* margin: 1em; */
    /* background-color: #bb371d; */
}








/* ----------------
    buttons
---------------- */

/* global button style */
.btn {
    font-size: 1.4rem;
    margin: 1em 1em 2em 1.4em;
    padding: .5em 2em;
    /* width: 200px; */
    font-weight: bold;
    color: var(--white);
    border: none;
    border-radius: 4px;
    transition: 140ms;
    text-decoration: none;
    /* background-color: cadetblue; */
    /* padding: 2px; */
}

/* icon sizing from google -Styling icons in material design https://developers.google.com/fonts/docs/material_icons */
/* edited to suit my sizing */

.material-icons {
    color: var(--secondary-color);
}

.material-icons.md-18 {
    font-size: 18px;
}

.material-icons.md-24 {
    font-size: 24px;
}

.material-icons.md-36 {
    font-size: 36px;
}

.material-icons.md-48 {
    font-size: 48px;
}

.material-icons.md-lx {
    font-size: 4em;
}

.call_to_action {
    background-color: var(--btn-cta);
}

.call_to_action:hover {
    background-color: var(--btn-cta-hover);
    cursor: pointer;
}



/* desktop side of things */
@media only screen and (min-width: 740px) {

    h1 {
        font-size: 5.4rem;
    }

    button {
        font-size: 1.7rem;
    }


    .flex_container {
        display: flex;
        padding: 1em;

        /* background-color: #1c7ba7; */
    }


}

@media only screen and (min-width: 1300px) {}




@media only screen and (min-width: 1440px) {

    h2 {
        font-size: 2.4rem;
        /* padding-bottom: 1rem; */
    }
}