@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;500&family=Libre+Baskerville:ital@1&family=Rubik:wght@300;400&display=swap');



/* css reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* -----------------------

   [table of contents]

1.  color styling
2.  global style
3.  maine grid style
4   typography
5.  buttons
6.  google icons

-------------------------- */




/* ----------------
    1. color styling
---------------- */
:root {
    /* page colors */
    --white: #f8f8f8;
    --black: #252525;
    --dark-grey: #272b35;
    --pale-grey: #4a5061;
    --grey: #f0f0f0;
    --orange: #ffa500;
    --pale-orange: #facc76;

    /* nav hover */
    --black-hover: #404655;
    /* button colors */
    --btn-cta: #c4242a;
    --btn-cta-hover: #912226;

    --btn-warning: #0456c0;
    --btn-warning-hover: #154788;

}

/* the "orange" and "grey" class for when adding color directly to the HTML file eg. the 'Yoga' in them h1 */
.orange {
    color: var(--orange);
}

/* grey background color */
.grey-bg {
    background-color: var(--grey);
}

/* ----------------
    2. global style
---------------- */
html,
body {
    font-family: 'Rubik', sans-serif;
    line-height: 1.6;
    color: var(--black);
}

/* ----------------
    3. maine grid style
---------------- */
/* maine grid style with collapsing borders left and right for large displays */
body {
    display: grid;
    grid-template-columns: 1fr minmax(30ch, 240ch) 1fr;
}


/* the 3 parts of the page (header, main, and footer), placed in the center of the page */
.header {
    grid-column: 2/3;
}

main {
    grid-column: 2/3;
}

footer {
    grid-column: 2/3;
}

.footer-100vh-container {
    grid-column: 2/3;
}

/* ----------------
    4. typography
---------------- */
h1,
h2,
h3 {
    font-family: 'Cabin', sans-serif;
}

h1 {
    font-size: 4rem;
    font-weight: 500;
    color: var(--white);
    margin-bottom: .4rem;
}

/* subheading under the h1 element */
.subheading {
    color: var(--white);
    font-weight: 400;
    font-size: 1.6rem;
}

h2 {
    font-size: 2rem;
    padding-bottom: 1rem;
    text-transform: capitalize;
}

h3 {
    font-size: 1.4rem;
    padding-bottom: 1rem;
}

h2,
h3,
h4 {
    color: var(--dark-grey);
    font-weight: lighter;
}

/* I assigned the h4 to be quotation text  */
h4 {
    font-family: 'Libre Baskerville', serif;
    font-weight: 500;
    font-size: 1.2rem;
}

p {
    font-size: 1rem;
    color: var(--black);
    padding-bottom: 8px;
}

/* ----------------
    5. buttons
---------------- */
/* global button style for the 2 buttons on the website */
.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.4rem;
    margin: 1em 1em 2em 1.4em;
    padding: .5em 2em;
    min-height: 54px;
    font-weight: 400;
    color: var(--white);
    border: none;
    border-radius: 4px;
    transition: 140ms;
    text-decoration: none;
}

/* the 4 states of the two buttons (hover and normal) */
.call-to-action {
    background-color: var(--btn-cta);
    transition: 60ms;
}

.call-to-action:hover {
    background-color: var(--btn-cta-hover);
    cursor: pointer;
}

form .submit-button {
    font-size: 1.4rem;
    background-color: var(--btn-warning);
    margin-left: 0;
    width: 100%;
    margin-bottom: 0;
}

.submit-button:hover {
    background-color: var(--btn-warning-hover);
    cursor: pointer;
}

/* ----------------
    6. google icons
---------------- */
.svg-icon {
    width: 4rem;
    height: 4rem;
}


/* desktop side of things */
@media only screen and (min-width: 768px) {

    h1 {
        font-size: 5.4rem;
    }

    h4 {
        font-size: 1.4rem;
    }

    button {
        font-size: 1.7rem;
    }

    form .submit-button {
        margin-left: 0;
        width: auto;
    }
}

@media only screen and (min-width: 1440px) {

    h2 {
        font-size: 2.4rem;
    }
}